body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f3136;
  color: #f9f6ee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logoIcon {
  /* font-size: smaller;
  transform: rotate(-30deg);
  padding: 0 -5rem;
  filter: drop-shadow(1px 1px 20px rgb(54, 136, 190));
  background: none;
  color: rgb(54, 136, 190); */
  animation: glow 4s linear infinite;
  rotate: (-30deg);
  width: 2rem;
  height: 2rem;
  margin: auto;
  margin-top: 140px;
  border-radius: 50%;
  box-shadow: inset 0 0 0.3rem #fff, inset -0.2rem 0 0.6rem violet,
    inset 0.2rem 0 0.6rem #0ff, inset 0.2rem 0 2rem violet,
    inset -0.2rem 0 2rem #0ff, 0 0 0.5rem #fff, -0.1rem 0 0.6rem violet,
    0.1rem 0 0.6rem #0ff;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
